<div class="container">
    <h3>Livros Cadastrados</h3>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{books[0].id}}</td>
                <td>{{books[0].title}}</td>
                <td>{{books[0].author}}</td>
                <td>{{books[0].price}}</td>
            </tr>
        </tbody>
    </table>
</div>